<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if eq .Lang "ar" }}dir="rtl"{{ else }}dir="ltr"{{ end }}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">

    <link rel="shourtcut icon" type="x-icon" href="/assets/images/ico.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container">

        <header>
            {{partial "navbar" .}}
        </header>

        <main>
            {{block "main" .}} {{ end }}
        </main>

        <footer>
            {{partial "footer" .}}
        </footer>

    </div>

    <script>
        // List of music URLs
        const musicUrls = [
            'https://server8.mp3quran.net/afs/001.mp3'
        ];

        // Get the current day of the week (0-6, where 0 is Sunday)
        const currentDay = new Date().getDay();
        console.log('Current day of the week:', currentDay); // Debugging

        // Select the music URL for the current day
        const currentMusicUrl = musicUrls[currentDay];
        console.log('Current music URL:', currentMusicUrl); // Debugging

        // Get the audio player element
        const audioPlayer = document.getElementById('audioPlayer');

        // Set the source of the audio player
        audioPlayer.src = currentMusicUrl;
        console.log('Audio player source set to:', audioPlayer.src); // Debugging
    </script>

</body>
</html>