body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
    margin: 0;
    flex-direction: column;
    font-family: "Cairo", sans-serif;

}

.text {
    font-size: 24px;
    color: #333;
    text-align: center;
}

#souraList {
    display: flex;
    justify-content: center; /* Center the list items horizontally */
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    margin-bottom: 50px;

}

.button {
    width: 80px;
    height: 80px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 36px;
    color: white;
    border: none;
}

a{
    text-decoration: none;
}

.button:hover {
    background-color: #45a049;
}

.button i {
    pointer-events: none;
}

.play i {
    content: '\f04b';
}

.pause i {
    content: '\f04c'; 
}

footer {
    margin-top: 20px;
    text-align: center;
    color: black;
    width: 100%;
    font-size: 17px;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    padding: 100px;
    text-align: center
}